* {
  box-sizing: border-box;
}
h1 {
  margin-bottom: 15px;

}

#chicken {
  background-color: #DFCFBE;
}

#beef {
  background-color: #F7CAC9;
}

#sushi {
  background-color: #55B4B0;
}

.row {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}

section {
  position: relative;
  border: 1px solid black;
  background-color: #A0A0A0;
}

h2 {
  position: absolute;
  right:  0;
  top: 0;
  margin: 0;
  width: 175px;
  border: 1px solid black;
  background-color: red; 
  padding: auto;
  text-align: center;
  font-size: 1.6em;
  
}

p {
  margin-right: auto;
  margin-left: auto;
  font-family: Helvetica;
  color: black;
  padding: 10px;
  padding-top: 20px;
  padding-bottom: 5px;

}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/********** Large devices only **********/
@media (min-width: 1000px) {

  .col-lg-4 {
    width: 33.33%;
  }
  
}

/********** Medium devices only **********/
@media (min-width: 700px) and (max-width: 999px) {

  .col-md-6 {
    width: 50%;
  }

  .col-md-12 {
    width: 100%;
  }
}

/********** Small devices only **********/
@media  (max-width: 699px) {

  .col-sm-12 {
    width: 100%;
  }
}